
* {
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  height:100vw;
  display:flex;
  flex-direction: column;
  position:fixed
}

nav {
  display:flex;
  width:99vw;
  height:20vh;
  background-color: cadetblue;
  align-items: center;
  /* border-radius: 5px; */
  /* margin: 0% % 0% 0%; */
}

.nav-user {
  display:flex;
  flex-direction: column;
  align-items: center;
  width:10vw;
  height:16vh;
  margin: .75% 1% 1% 2%;
  background-color: azure;
  border-radius: 5px;
}

main {
  display:flex;
  width: 100%;
  height: 100%;
}

.total-spending {
display: flex;
flex-direction: column;
align-items: center;
width:10vw;
height:16vh;
background-color: cornflowerblue;
border-radius: 5px;
margin: .5% 1% .5% 51%

}

.main-panel {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  height:100%;
  width:58.5vw;
  background-color:darkcyan;
  margin: .5% .5% 1% 0%;
  overflow-y: scroll;
  overflow-x: hidden;
  }

  .booking-container,.result-container {
    display:inline-flex;
    align-items: center;
    font-size: 1.5vw;
    height: 14vh;
    width:25vw;
    margin: 2% 0% 0% 4%;
    font-size: 1.3vw;
    background-color:cornflowerblue;
    border-radius: 5px;
  }

  h1 {
    margin-left: 5%;
  }

  .add-booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width:40vw;
    margin: .5% .5% .5% 0%; 
    background-color:darkcyan;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .add-booking::-webkit-scrollbar, .main-panel::-webkit-scrollbar {
    width: 1vw;
    background-color:darkcyan;
    background-size: 30vh;
  }

  .add-booking::-webkit-scrollbar-thumb, .main-panel::-webkit-scrollbar-thumb {
    width: 1vw;
    border-radius: 9px;
    background-color:aliceblue;
    background-size: 30vh;
  }

  .add-booking::-webkit-scrollbar-button, .main-panel::-webkit-scrollbar-button {
    visibility: hidden;
  }



  #search-bar-date,#search-bar-room {
    width: 10vw;
    margin: .5% .5% .5% 1%;
    border-radius: 3px;
    border:none;
    height: 4%;
    width:60%
  }


#search-bookings {
  background-color: aliceblue;
  border-radius: 3px;
  margin: 5% .5% .5% 1%;
  border: none;
  height: 3%;
  width: 20%;
}

#make-booking {
  background-color: aliceblue;
  border-radius: 3px;
  margin: 5% .5% .5% 40%;
  border: none;
}

#make-booking:hover,#search-bookings:hover {
  background-color:aquamarine;

}

.display-results {
  margin: 5% .5% .5% 1%;
}

/* .hidden {
  display: none;
} */